*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}
.container{
    text-align: center;

}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid rgb(36, 192, 227);
    box-shadow:  0 0 4px rgb(0, 170, 255);
}
.title{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.review{
    /* border: 2px solid black; */
    margin-top: 4rem;
    box-shadow: 0px 0px 4px;
    height: 700px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 30px;
    word-spacing: 10px;
}
#name{
    color: rgb(85, 193, 212);
    font-size: 30px;
}
#profession{
    font-size: 20px;
}
#info{
    font-size: 20px;
}
.fas{
    color: rgb(0, 183, 255);
    box-sizing: none;
    font-size: 50px;
    background: none;
    cursor: pointer;
}
.random-btn{
    padding: 4px 20px;
    border-radius: 30px;
    background: none;
    border: 1px solid rgb(68, 177, 217);
    color: rgb(0, 183, 255);
    margin-top: 3rem;
    cursor: pointer;
}