*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(239, 246, 247);
}

.title h1{
    
    font-size:50px ;
    text-align: center;
}
.title p{
    color: #617D98;
    font-size: 25px;
    /* opacity: 0.6; */
    text-align: center;
}
.section-center{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
}
article{
    border-radius: 30px;
    box-shadow: 0 0 4px;
}
.about-img img{
    border-radius: 30px;
    height: 600px;
}
.about{
    background-color: #ffffff;
}
.content p{ 
    color: #617D98;
    font-size: 25px;
    margin-top: 4rem;

}
.about-content{
    display: flex;
    flex-wrap: wrap;
}
.content ul{
    list-style-type: none;
}
.btn-container{
    background-color: #a1aeb9;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px 20px 0 0;
}
.tab-btn{
    padding:  40px 60px;
    border: none;
    text-align: center;
    width: 282px;
    font-size: 30px;
    /* border-radius: 20px; */
    background: none;
}
.tab-btn:hover{
    background-color: white;
    cursor: pointer;
}

.content {
    display: none;
    padding: 20px;
  }
  .tab-btn.active {
    background: var(--clr-white);
  }
  .content.active {
    display: block;
  }
  ul{
    margin-top: 2rem;
  }
  ul li{
    font-size: 25px;
  }

