*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
    text-align: center;

}
h1{
    font-size: 50px;
}
button{
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    font-size: 30px;
}
#decrement{
    background-color: rgb(239, 201, 160);
}
#increment{
    background-color: rgb(241, 45, 91);
}
#reset{
    background-color: rgb(197, 230, 197);
}
