* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    font-size: 4rem;
}
/* .switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: red; 
    border-radius: 15px;
    margin: 0;
    display: block;
    transition: var(--transition);
}

.slide .switch {
    left: 50%;
} */

.btn {
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 9rem;
    height: 2rem;
    display: flex;
    border-radius:10px; 
    align-items: center;

    justify-content: space-between;
    border: none;
    transition: all 0.3s ease; 
    cursor: pointer; 
    padding: 10px 8px;
}

.btn span {
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
    color: rgb(0, 174, 255); 
    font-size: 20px;
}

.switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 174, 255); 
    border-radius: 10px;
    margin: 0;
    display: block;
    transition: var(--transition);
}

.slide .switch {
    left: 50%;
}

/* header after */
.video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:black;
    z-index: -1;
}